{% extends "layout.html" %}
{% block content %}
<div class="container text-center">
    <h2 style="margin-top: 20vh; font-size: 5vh; color: #DAA520;">What I am all about</h2>
    <p>We all got stories to tell.A couple that we feel are worth telling because they are so good</p>
    <p>And I bet everyone is a sucker for a good story,Here you get to tell it and see how much the world loves your story.</p>
    <p>So don't be shy.Tell it as you know it we'd love to here it.e</p>
    <p>Some tea maybe</p>
 
</div>
{% endblock content %}